<!-- BASED ON THE COMPONENT'S NAME, SEMANTICALLY, USING <details /> WOULD BE MOST CORRECT THAN SECTION... -->
<section class="beer-detail" *ngIf="beer">
  <h1 class="beer-detail__name" role="heading">{{ beer.name }}</h1>
  <section class="beer-detail__statistics-pix">
    <aside class="beer-detail__pix-box">
      <img class="beer-detail__pix" [attr.src]="beer.image_url | pixSource" [title]="beer.name" [alt]="beer.name" />
    </aside>
    <aside class="beer-detail__statistics">
      <div class="beer-detail__stats-row" *ngFor="let item of displayableDataMap | keyvalue">
        <section class="beer-detail__stats-row-key" [innerHTML]="item.key+':'"></section>
        <section class="beer-detail__stats-row-value" [innerHTML]="item.value"></section>
      </div>
    </aside>
  </section>
</section>
