@import '../../../assets/styles/partials/vitals';

.beer-detail__name {
  background-color: $black;
  padding: $mid-spacing;
  margin: 0;
  font-size: 1.5rem;
  color: $white;
}

.beer-detail__statistics-pix{
  display: grid;
  grid-template-columns: minmax(toRem(150), 1FR) 3fr;

  @include respond-to(small-screens) {
    grid-template-columns: auto;
  }
}

.beer-detail__pix-box{
  height: 300px;
  width: auto;
  padding: 25px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
}
.beer-detail__pix{
  height: 100%;
  display: block;
  width: auto;
  vertical-align: center;
  margin: 0 auto;
}

.beer-detail__statistics{
}

.beer-detail__stats-row{
  display: grid;
  grid-template-columns: minmax(toRem(150), 1FR) 3fr;
  border-bottom: solid 1px #cbcbcb;

  @include respond-to(small-screens) {
    grid-template-columns: auto;
    grid-gap: 0;
    margin-bottom: 0;
  }
}

.beer-detail__stats-row-key,
.beer-detail__stats-row-value{
  padding: 8px 10px;
}
.beer-detail__stats-row-key{
  padding-left: 20px;
  background: $gray-shade-10;
}
.beer-detail__stats-row-value{
  background: $gray-shade-8;
}

