@import "functions";
@import "mixins";
@import "variables";

%wrap {
  width: 100%;
  margin: 0 auto;
  padding: toRem(20px);
}

%fix_float{
  &:before,
  &:after{
    content:"";
    display:table;
  }
  &:after{
    clear:both;
  }
}

%response_tmpl_box{
  width:100%;
  float:none;
  margin:0;
}

%response_tmpl_img{
  width:100%;
  float:none;
  margin:0;

  img,
  .full_pane_pix{
	  width:100%;
  }
}
