// @use 'sass:math' as m;

// COLORS:
$black:                       #000;
$gray-shade-0:                $black; // ALIAS FOR BLACK.
$gray-shade-1:                #333;
$gray-shade-2:                #666;
$gray-shade-3:                #999;
$gray-shade-4:                #B3B3B3;
$gray-shade-5:                #CCC;
$gray-shade-7:                #D7D7D7;
$gray-shade-8:                #EDEDED;
$gray-shade-9:                #C7C7C7;
$gray-shade-10:               #DBDBDB;
$gray-shade-6:                #F9F9F9;
$white:                       #FFF;
$post-color--pale:            rgb(255, 247, 222);
$post-color:                  #FC0;
$post-color-shade-10:         #F7F1D8;
$bg-active-item:              #E4FDE4; // #E6FFE6;
$positive-emphasis:           #146400;


// SCREEN-SIZES:
$screen-width-medium:         776px;
$screen-width-small:          480px;
$screen-width-default:        1150px;
$half_screen_width:           480px;


// FONT-SIZES:
$root-font-size:              16px;


// NUMERIC VALUES:
$root-size:                   16;


// STRING VALUES:
$zero:                        0rem;
$half-transition-time:        0.5s;
$quarter-transition-time:     0.25s;
$third-transition-time:       0.33s;
$full-transition-time:        1s;


// FONTS:
$font-family-main:            Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-alt:             Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// SPACING SIZES [ PADDINGS + MARGINS ]:
// $micro-spacing:               m.div(1, $root-size) * 1rem;
$micro-spacing:               (1 / $root-size) * 1rem;
$min-spacing:                 0.5rem;
$mid-spacing:                 1rem;
$max-spacing:                 2rem;



