<div class="suggested-beers" #suggestedItemsCollection *ngIf="resultsShouldBeRendered">
  <div [ngClass]="{'suggested-beers__beer--active': iKey === currentTabIndex }"
       class="suggested-beers__beer"
       (click)="dispatchItemSelectedSignal(beer)"
       (keydown)="handleKeyPressOnItemRow($event, beer)"
       [id]="'item-row-'+iKey"
       [tabIndex]="iKey"
       [attr.data-title]="beer.name"
       *ngFor="let beer of suggestedBeers; let iKey=index;">
    <span class="suggested-beers__beer-pix-box">
          <img [src]="beer.image_url | pixSource"
               [alt]="beer.name"
               [attr.aria-label]="beer.name"
               class="suggested-beers__beer-pix" />
        </span>
    <span class="suggested-beers__beer-keyword-highlighted">
      <span class="suggested-beers__beer-keyword-highlighted--text"
            [innerHTML]="(beer.name | highlightKeyword : activeKeyword) | async">
      </span>
      <span class="suggested-beers__beer-keyword-highlighted--suggestion" *ngIf="iKey === 0">&#10229; recommended...</span>
    </span>
  </div>
</div>
