<div class="form-wrapper">
  <!-- THIS FORM HERE IS ONLY FOR SEMANTIC/ACCESSIBILITY REASONS - IT IS NOT USED ANYWHERE WITHIN THE CODE... -->
  <!-- (keyup)="fetchSuggestedBeers($event, keyword.value)"  -->
  <form class="search-form" id="search-form">
    <label class="search-label" for="search-field" id="search-field-label">
      <span class="search-label__label-text" #labelTextNode>Please, enter search term:</span>
      <input type="text"
             (keyup)="onKeyUp($event, keyword.value)"
             (focus)="repositionLabel(labelTextNode, 'focus')"
             (blur)="repositionLabel(labelTextNode, 'blur')"
             class="form-control search-field"
             id="search-field"
             autocomplete="off"
             name="searchKeyword"
             ngModel
             #keyword />
      <span class="search-reset-icon" (click)="resetSearchField(keyword)" #resetIcon>&times;</span>
    </label>
  </form>
  <div class="search-results" *ngIf="suggestedBeers.length > 0">
    <app-search-results [suggestedBeers]="suggestedBeers"
                        [activeKeyword]="keyword.value"
                        *ngIf="shouldRenderResult"
                        #searchResultsComponent></app-search-results>
  </div>
</div>
