<div class="wrapper">
  <app-header></app-header>
  <div class="main-content">
    <div class="item-search-and-detail-block" *ngIf="shouldShowViewBlock">
      <aside class="item-search-and-detail-block__search-block">
        <app-search-field></app-search-field>
      </aside>
      <aside class="item-search-and-detail-block__detail-block">
        <app-item-detail></app-item-detail>
      </aside>
      <section class="superfluous-content-block">
        <h2 class="superfluous-content-block__title">Swiss Post Coding Challenge - <span class="superfluous-content-block--small">A Solution from Poiz.</span></h2>
        <div class="superfluous-content-block__pix-holder" style='background-image: url("../assets/images/clement-helardot-95YRwf6CNw8-unsplash.jpg")'></div>
        <p class="superfluous-content-block__text" role="presentation">
          This is just a Dummy content to show that we could also have some other superfluous content below the Input/Search Field. Additionally,
          due to the positioning used for the Search results, the Results-Block will not push down other contents but overlay on top of them.
          This Box here serves absolutely no purpose whatsoever and should thus be completely ignored as a mere content placeholder...
        </p>
      </section>
    </div>
  </div>
</div>
