<figure class="header-logo-figure"  role="figure">
  <svg class="header-logo-figure__logo" height="56" viewBox="0 0 162 56" width="162" xmlns="http://www.w3.org/2000/svg" role="img">
    <title id="swiss-post-logo--title">Swiss Post Logo</title>
    <desc id="swiss-post-logo--desc">This is the long description of the Swiss Post Logo</desc>
    <g fill="none" fill-rule="evenodd">
      <path d="m0 0h162v56h-162z" fill="#fc0"/>
      <path d="m115.458487 41.9915437 1.740875-8.17h-99.121812l-1.7385 8.17z" fill="#fff"/>
      <g fill="#000"><path d="m43.3838875 19.5090812h-3.686l-3.664625 17.03825h3.6871875z"/>
        <path d="m56.3015125 19.5090812h-10.3063125l-3.640875 17.03825h10.4203125l.665-3.0910625h-6.7355l.9155625-4.2381875h5.8413125l.665-3.0673125h-5.8413125l.7564375-3.5494375h6.595375z"/>
        <path d="m32.0794812 28.3306625c-.434625 2.014-1.6494375 4.467375-4.305875 4.9934375-.5474375.0914375-1.0533125.1151875-1.4879375.1151875h-1.740875l2.2906875-10.765875h1.579375c.3906875 0 .9179375.0225625 1.33.0914375 2.42725.4120625 2.93075 2.885625 2.334625 5.5658125m-1.42975-8.7079375c-.710125-.092625-1.64825-.114-2.2218125-.114h-4.647875l-3.6420625 17.03825h6.139375c.548625 0 1.235-.0225625 1.7183125-.0890625 4.807-.5973125 7.144-4.077875 7.830375-7.6285.9630625-4.9459375-.776625-8.5654375-5.1763125-9.2066875"/>
        <path d="m117.544687 19.5090812h-12.91525l-.687562 3.15875h4.625312l-2.975875 13.8795h3.686l2.97825-13.8795h4.603938z"/>
        <path d="m86.4992813 28.0557562c-.596125 2.7490625-1.717125 5.6109375-4.8319375 5.6109375-3.002 0-3.412875-2.81675-2.7941875-5.6109375.59375-2.747875 1.717125-5.60975 4.83075-5.60975 3.002 0 3.41525 2.814375 2.795375 5.60975m-2.527-8.7305c-5.9101875 0-8.15575 4.0078125-9.09625 8.7031875-.9606875 4.6941875 1.033125 8.702 6.414875 8.702 5.909 0 8.153375-4.0078125 9.0926875-8.702.9606875-4.695375-1.03075-8.7031875-6.4113125-8.7031875"/>
        <path d="m92.261625 24.5234187c0 2.014 1.237375 3.0008125 2.4035 3.8938125l1.9475 1.4428125c.3895.2980625.7564375.5498125 1.03075.8704375.25175.2743125.4571875.548625.4571875.9844375 0 .6175-.296875 1.007-.710125 1.2825-.7778125.5046875-1.99025.5046875-2.7253125.5046875-1.166125 0-2.9746875-.3431875-3.664625-.619875l-1.0984375 3.116c1.327625.47975 3.458.686375 4.9934375.686375 1.854875 0 3.1825-.2505625 4.305875-.7326875 2.014-.847875 3.022187-2.4284375 3.022187-4.282125 0-1.0984375-.36575-1.8323125-.86925-2.496125-.41325-.52725-1.077062-1.1008125-1.832312-1.6731875l-1.7634375-1.327625c-.893-.6638125-1.5591875-1.1685-1.5591875-1.9475 0-.7315.5046875-1.37275 1.444-1.4879375.5735625-.068875 1.099625-.068875 1.9700625-.068875h2.7929995l.687563-3.1599375h-3.1148125c-.893 0-2.0615 0-3.0673125.1140001-2.4046875.2743124-4.65025 1.9926249-4.65025 4.9008124"/><path d="m70.36365 25.5091625c-.228 1.4190625-1.1910625 2.2906875-2.42725 2.58875-.2980625.0665-.8490625.1128125-1.1673125.1128125h-1.489125l1.1910625-5.564625h1.6019375c.4571875 0 .8015625.045125 1.0770625.1365625.9155625.2980625 1.4665625 1.19225 1.213625 2.7265m-.5498125-5.8864375c-.434625-.068875-1.0545-.114-1.672-.114h-4.647875l-3.664625 17.03825h3.664625l1.121-5.1976875h2.130375c1.121 0 1.854875-.1151875 2.5661875-.3218125 2.6326875-.8015625 4.3284375-2.999625 4.71675-5.336625.5735625-3.1825-1.028375-5.5420625-4.2144375-6.068125"/>
      </g>
      <path d="m134.813313 19.4950687s2.1755-10.24218745 2.186187-10.29918745h-13.843875c-.005938.035625-2.877312 13.43299995-2.889187 13.48881245h3.427124c.008313-.0368125 2.206376-10.2979999 2.206376-10.2979999h6.993187s-2.195687 10.2421874-2.20875 10.2979999h10.3835l-1.378687 6.441h-10.328875c-.008313.038-2.062688 9.633-2.062688 9.633h-7.825625c-.007125.0368125-.668562 3.180125-.680438 3.2335625h11.253938c.007125-.035625 2.073375-9.654375 2.073375-9.654375h10.289688c.008312-.0368125 2.743125-12.7881875 2.755-12.8428125z" fill="#f00"/>
    </g>
  </svg>
</figure>
