/* You can add global styles to this file, and also import other style files */
@import './assets/styles/reset';
@import './assets/styles/globals';

.emphasized{
  font-weight: 700;
  color: $positive-emphasis;
}

.food-pairing{
  display: block;
}
